# Model files
models_20250609_105424/best_model.pth
*.pth
best_model.pth

# Python cache
__pycache__/
*.pyc
*.pyo

# Env & editor files
.env
venv/
.venv/
.DS_Store
.vscode/

# Logs
*.log

# Node.js
node_modules/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage

# Generated reports and outputs
backend/reports/
backend/uploads/
backend/results/
logs_*/
integrated_gradients_results/

# Python specific
backend/.dependencies_installed

# OS specific
UNET-model/.DS_Store

py-files/
md-files/

package-lock.json
package.json
