# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Model files
models/*.pth

# Output files
output/

# Jupyter Notebook
.ipynb_checkpoints/

# Log files
logs/
*.log

# Data files (optional, uncomment if you don't want to include dataset in git)
# dataset/ 